<h1>Your Lists</h1>

<ul class="list-group">
    <% @lists.each do |list| %>
      <li class="list-group-item">
        <%= link_to list.name, list%> |
      </li>
    <% end %>
</ul>

<%= link_to 'Add List', new_list_path %>
